/*
* @Author: zhaoxuan
* @Date:   2016-12-15 10:11:06
* @Last Modified by:   zhaoxuan
* @Last Modified time: 2016-12-15 10:58:50
*/

/*当屏幕的宽度小于1200px的时候采用下面的样式进行显示设定版心的宽度并且居中*/
.content {
    width: 1000px;
    margin: 0 auto;
}

/*楼层的广告位的处理*/
.floor-ad {
    margin-top: 40px;

}



/*当屏幕的宽度大于1200px的时候采用下面的样式进行显示*/
@media screen and (min-width: 1200px) {

}