/*
* @Author: zhaoxuan
* @Date:   2016-12-15 10:11:06
* @Last Modified by:   zhaoxuan
* @Last Modified time: 2016-12-23 14:03:15
*/

/*当屏幕的宽度小于1200px的时候采用下面的样式进行显示设定版心的宽度并且居中*/

.price-color {
    color: #aa8877;
}
.font12 {
    font-size: 12px;
}
/*楼层的主要内容的推荐商品或者拍品样式的处理*/
.gallery-main-list {
    width: 583px;
    float: left;
}
.gallery-main-title {
    font-family: "Microsoft YaHei";
    font-size: 18px;
    height: 20px;
    color: #ccc;
    margin-bottom: 5px;
}
.gallery-main-title span {
    color: #333;
}
.gallery-main-title span a {
    font-size: 12px;
    color: #0d55a5;
}
.gallery-main-title span a:hover {
    color: #0d55a5;
}
.gallery-book-list {
    margin-right: -30px;
    word-break: break-all;
}
.gallery-book-list li {
    float: left;
    margin: 20px 10px 20px 0;
}
.gallery-book-list li a {
    color: #55453d;
}
.gallery-book-list li a:hover {
    color: #8c222c;
}
.gallery-book-list li a .gallery-book-list-img {
    width: 108px;
    height: 160px;
    text-align: center;
    line-height: 160px;
    display: block;
    margin-bottom: 14px;
}
.gallery-book-list li a .gallery-book-list-img img {
    display: inline-block;
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
}
.gallery-book-list li a p.gallery-main-product-text {
    width: 108px;
    font-size: 12px;
    line-height: 18px;
    height: 36px;
    margin-bottom: 14px;
    word-break: break-all;
    overflow:hidden;
    text-overflow:ellipsis;
    display:-webkit-box;
    -webkit-box-orient:vertical;
    -webkit-line-clamp:2;
}
.gallery-book-list li a p.gallery-main-product-price {
    font-size: 15px;
}



/*当屏幕的宽度大于1200px的时候采用下面的样式进行显示*/
@media screen and (min-width: 1200px) {

}